<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StravaClientId</key>
	<string>YOUR_STRAVA_CLIENT_ID</string>
	<key>StravaClientSecret</key>
	<string>YOUR_STRAVA_CLIENT_SECRET</string>
	<key>StravaRedirectScheme</key>
	<string>pacepal</string>
	<key>StravaRedirectHost</key>
	<string>oauth</string>
	<key>StravaRedirectPath</key>
	<string>/callback</string>
	<key>KeychainAccessTokenKey</key>
	<string>YOUR_ACCESS_TOKEN_KEY</string>
	<key>KeychainRefreshTokenKey</key>
	<string>YOUR_REFRESH_TOKEN_KEY</string>
	<key>KeychainExpiresAtKey</key>
	<string>YOUR_EXPIRES_AT_KEY</string>
	<key>StravaBaseURL</key>
	<string>https://www.strava.com/api/v3</string>
	<key>StravaAuthURL</key>
	<string>https://www.strava.com/oauth/token</string>
</dict>
</plist>
